@using Covenant.Models.Covenant

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    <h4 class="h5">Password Credentials</h4>
</div>

<PasswordCredentialTable PasswordCredentials="PasswordCredentials.ToList()" />
<a href="api/credentials/passwords" class="btn btn-primary">
    <span class="fe fe-download"></span> Download passwords
</a>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    <h4 class="h5">Hash Credentials</h4>
</div>

<HashCredentialTable HashCredentials="HashCredentials.ToList()" />
<a href="api/credentials/hashes" class="btn btn-primary">
    <span class="fe fe-download"></span> Download hashes
</a>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    <h4 class="h5">Ticket Credentials</h4>
</div>

<TicketCredentialTable TicketCredentials="TicketCredentials.ToList()" />
<a href="api/credentials/tickets" class="btn btn-primary">
    <span class="fe fe-download"></span> Download tickets
</a>
@code {
    [Parameter]
    public IEnumerable<CapturedPasswordCredential> PasswordCredentials { get; set; }

    [Parameter]
    public IEnumerable<CapturedHashCredential> HashCredentials { get; set; }

    [Parameter]
    public IEnumerable<CapturedTicketCredential> TicketCredentials { get; set; }
}
